<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>framework</key>
	<dict>
		<key>categories</key>
		<array>
			<dict>
				<key>cat</key>
				<string>cibi</string>
			</dict>
			<dict>
				<key>cat</key>
				<string>localinotturni</string>
			</dict>
			<dict>
				<key>cat</key>
				<string>news</string>
			</dict>
			<dict>
				<key>cat</key>
				<string>veespo_lite_app</string>
			</dict>
		</array>
	</dict>
	<key>widget</key>
	<dict>
		<key>interface</key>
		<dict>
			<key>question</key>
			<dict>
				<key>backgroundcolor</key>
				<dict>
					<key>default</key>
					<string>1d7800</string>
					<key>veespo_lite_app</key>
					<string>1d7800</string>
					<key>cibi</key>
					<string>42B6E8</string>
					<key>localinotturni</key>
					<string>c1ddff</string>
					<key>news</key>
					<string>ff6440</string>
				</dict>
				<key>textcolor</key>
				<dict>
					<key>default</key>
					<string>fff</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
